<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>SessionControl</filter-name>
  	<display-name>SessionControl</display-name>
  	<description></description>
  	<filter-class>Filter.SessionControl</filter-class>
  </filter>
  <filter>
  	<filter-name>Controller_shoppingCartJSP</filter-name>
  	<display-name>Controller_shoppingCartJSP</display-name>
  	<description></description>
  	<filter-class>Filter.Controller_shoppingCartJSP</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>SessionControl</filter-name>
  	<url-pattern>/homeAdmin</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>SessionControl</filter-name>
  	<url-pattern>/addProduct</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>Controller_shoppingCartJSP</filter-name>
  	<url-pattern>/shoppingCart.jsp</url-pattern>
  </filter-mapping>
  <listener>
  	<listener-class>Listener.SessionControlListener</listener-class>
  </listener>
  <servlet>
  	<servlet-name>Controller_Login</servlet-name>
  	<display-name>Controller_Login</display-name>
  	<description></description>
  	<servlet-class>Servlet.Controller_Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>homeAdmin</servlet-name>
  	<display-name>homeAdmin</display-name>
  	<description></description>
  	<servlet-class>Servlet.homeAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Controller_logOut</servlet-name>
  	<display-name>Controller_logOut</display-name>
  	<description></description>
  	<servlet-class>Servlet.Controller_logOut</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Controller_addProduct</servlet-name>
  	<display-name>Controller_addProduct</display-name>
  	<description></description>
  	<servlet-class>Servlet.Controller_addProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Controller_showProduct</servlet-name>
  	<display-name>Controller_showProduct</display-name>
  	<description></description>
  	<servlet-class>Servlet.Controller_showProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Controller_home</servlet-name>
  	<display-name>Controller_home</display-name>
  	<description></description>
  	<servlet-class>Servlet.Controller_home</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin</servlet-name>
  	<display-name>Admin</display-name>
  	<description></description>
  	<servlet-class>Servlet.Admin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShoppingCart</servlet-name>
  	<display-name>ShoppingCart</display-name>
  	<description></description>
  	<servlet-class>Servlet.ShoppingCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Controller_customerLogin</servlet-name>
  	<display-name>Controller_customerLogin</display-name>
  	<description></description>
  	<servlet-class>Servlet.Controller_customerLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Controller_customerRegister</servlet-name>
  	<display-name>Controller_customerRegister</display-name>
  	<description></description>
  	<servlet-class>Servlet.Controller_customerRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Controller_shoppingCart</servlet-name>
  	<display-name>Controller_shoppingCart</display-name>
  	<description></description>
  	<servlet-class>Servlet.Controller_shoppingCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>shoppingCart</servlet-name>
  	<display-name>shoppingCart</display-name>
  	<description></description>
  	<servlet-class>Servlet.shoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Controller_Login</servlet-name>
  	<url-pattern>/Controller_Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>homeAdmin</servlet-name>
  	<url-pattern>/homeAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Controller_logOut</servlet-name>
  	<url-pattern>/logOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Controller_addProduct</servlet-name>
  	<url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Controller_showProduct</servlet-name>
  	<url-pattern>/Controller_showProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Controller_home</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin</servlet-name>
  	<url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShoppingCart</servlet-name>
  	<url-pattern>/ShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Controller_customerLogin</servlet-name>
  	<url-pattern>/Controller_customerLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Controller_customerRegister</servlet-name>
  	<url-pattern>/Controller_customerRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Controller_shoppingCart</servlet-name>
  	<url-pattern>/Controller_shoppingCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>shoppingCart</servlet-name>
  	<url-pattern>/shoppingCart</url-pattern>
  </servlet-mapping>
</web-app>
